.services {
	.service__item {
		margin-top: 20px;
		padding: 20px;

		column-gap: 0.7rem;
		border-radius: 10px;
		cursor: pointer;
		span {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		span i {
			font-size: 2.2rem;
			background: var(--primary-color);
			padding: 10px 15px;
			color: #fff;
			border-radius: 50%;
			font-weight: 300 !important;
			margin: 10px;
		}
		h3 {
			color: var(--primary-color);
			font-size: 1.1rem;
			font-weight: 600;
		}
		p {
			font-size: 0.9rem;
			margin-top: 5px;
			color: #222;
		}
	}
}
