.filter__widget select {
	background: var(--primary-color);
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
}
.filter__widget select:focus {
	outline: none;
}
.search__box {
	border: 1px solid var(--primary-color);
	display: flex;
	align-items: center;
	border-radius: 8px;
}

.search__box input {
	width: 100%;
	border: none;
	outline: none;
}
.search__box span {
	margin: 5px;
}
.notFound {
	color: red;
	text-shadow: 2px 2px 3px red;
}
